In [4]:
import pandas as pd
s_abb = pd.read_csv('../data/state-abbrevs.csv')
s_pop = pd.read_csv('../data/state-population.csv')
s_ares = pd.read_csv('../data/state-areas.csv')

In [ ]:
#合并pop与abbrevs两个DataFrame，分别依据state/region列和abbreviation列来合并。

# 为了保留所有信息，使用外合并。

In [13]:
a1 = pd.merge(s_pop,s_abb,how='outer',left_on='state/region',right_on='abbreviation')
a1

     state/region     ages  year   population    state abbreviation
0              AL  under18  2012    1117489.0  Alabama           AL
1              AL    total  2012    4817528.0  Alabama           AL
2              AL  under18  2010    1130966.0  Alabama           AL
3              AL    total  2010    4785570.0  Alabama           AL
4              AL  under18  2011    1125763.0  Alabama           AL
5              AL    total  2011    4801627.0  Alabama           AL
6              AL    total  2009    4757938.0  Alabama           AL
7              AL  under18  2009    1134192.0  Alabama           AL
8              AL  under18  2013    1111481.0  Alabama           AL
9              AL    total  2013    4833722.0  Alabama           AL
10             AL    total  2007    4672840.0  Alabama           AL
11             AL  under18  2007    1132296.0  Alabama           AL
12             AL    total  2008    4718206.0  Alabama           AL
13             AL  under18  2008    1134927.0  Alabama           AL
14             AL    total  2005    4569805.0  Alabama           AL
15             AL  under18  2005    1117229.0  Alabama           AL
16             AL    total  2006    4628981.0  Alabama           AL
17             AL  under18  2006    1126798.0  Alabama           AL
18             AL    total  2004    4530729.0  Alabama           AL
19             AL  under18  2004    1113662.0  Alabama           AL
20             AL    total  2003    4503491.0  Alabama           AL
21             AL  under18  2003    1113083.0  Alabama           AL
22             AL    total  2001    4467634.0  Alabama           AL
23             AL  under18  2001    1120409.0  Alabama           AL
24             AL    total  2002    4480089.0  Alabama           AL
25             AL  under18  2002    1116590.0  Alabama           AL
26             AL  under18  1999    1121287.0  Alabama           AL
27             AL    total  1999    4430141.0  Alabama           AL
28             AL    total  2000    4452173.0  Alabama           AL
29             AL  under18  2000    1122273.0  Alabama           AL
...           ...      ...   ...          ...      ...          ...
2514          USA  under18  1999   71946051.0      NaN          NaN
2515          USA    total  2000  282162411.0      NaN          NaN
2516          USA  under18  2000   72376189.0      NaN          NaN
2517          USA    total  1999  279040181.0      NaN          NaN
2518          USA    total  2001  284968955.0      NaN          NaN
2519          USA  under18  2001   72671175.0      NaN          NaN
2520          USA    total  2002  287625193.0      NaN          NaN
2521          USA  under18  2002   72936457.0      NaN          NaN
2522          USA    total  2003  290107933.0      NaN          NaN
2523          USA  under18  2003   73100758.0      NaN          NaN
2524          USA    total  2004  292805298.0      NaN          NaN
2525          USA  under18  2004   73297735.0      NaN          NaN
2526          USA    total  2005  295516599.0      NaN          NaN
2527          USA  under18  2005   73523669.0      NaN          NaN
2528          USA    total  2006  298379912.0      NaN          NaN
2529          USA  under18  2006   73757714.0      NaN          NaN
2530          USA    total  2007  301231207.0      NaN          NaN
2531          USA  under18  2007   74019405.0      NaN          NaN
2532          USA    total  2008  304093966.0      NaN          NaN
2533          USA  under18  2008   74104602.0      NaN          NaN
2534          USA  under18  2013   73585872.0      NaN          NaN
2535          USA    total  2013  316128839.0      NaN          NaN
2536          USA    total  2009  306771529.0      NaN          NaN
2537          USA  under18  2009   74134167.0      NaN          NaN
2538          USA  under18  2010   74119556.0      NaN          NaN
2539          USA    total  2010  309326295.0      NaN          NaN
2540          USA  under18  2011   73902222.0      NaN          NaN
2541          USA    total  2011  311582564.0      NaN          NaN
2542          USA  under18  2012   73708179.0      NaN          NaN
2543          USA    total  2012  313873685.0      NaN          NaN

[2544 rows x 6 columns]

In [44]:
# 去除abbreviation的那一列（axis=1）
# a2 = DataFrame.drop(columns='abbreviation',axis=1,inplace=False)
df = pd.DataFrame(a1)
a2 = df.drop(columns='abbreviation',axis=0,inplace=False)
a2

     state/region     ages  year   population    state
0              AL  under18  2012    1117489.0  Alabama
1              AL    total  2012    4817528.0  Alabama
2              AL  under18  2010    1130966.0  Alabama
3              AL    total  2010    4785570.0  Alabama
4              AL  under18  2011    1125763.0  Alabama
5              AL    total  2011    4801627.0  Alabama
6              AL    total  2009    4757938.0  Alabama
7              AL  under18  2009    1134192.0  Alabama
8              AL  under18  2013    1111481.0  Alabama
9              AL    total  2013    4833722.0  Alabama
10             AL    total  2007    4672840.0  Alabama
11             AL  under18  2007    1132296.0  Alabama
12             AL    total  2008    4718206.0  Alabama
13             AL  under18  2008    1134927.0  Alabama
14             AL    total  2005    4569805.0  Alabama
15             AL  under18  2005    1117229.0  Alabama
16             AL    total  2006    4628981.0  Alabama
17             AL  under18  2006    1126798.0  Alabama
18             AL    total  2004    4530729.0  Alabama
19             AL  under18  2004    1113662.0  Alabama
20             AL    total  2003    4503491.0  Alabama
21             AL  under18  2003    1113083.0  Alabama
22             AL    total  2001    4467634.0  Alabama
23             AL  under18  2001    1120409.0  Alabama
24             AL    total  2002    4480089.0  Alabama
25             AL  under18  2002    1116590.0  Alabama
26             AL  under18  1999    1121287.0  Alabama
27             AL    total  1999    4430141.0  Alabama
28             AL    total  2000    4452173.0  Alabama
29             AL  under18  2000    1122273.0  Alabama
...           ...      ...   ...          ...      ...
2514          USA  under18  1999   71946051.0      NaN
2515          USA    total  2000  282162411.0      NaN
2516          USA  under18  2000   72376189.0      NaN
2517          USA    total  1999  279040181.0      NaN
2518          USA    total  2001  284968955.0      NaN
2519          USA  under18  2001   72671175.0      NaN
2520          USA    total  2002  287625193.0      NaN
2521          USA  under18  2002   72936457.0      NaN
2522          USA    total  2003  290107933.0      NaN
2523          USA  under18  2003   73100758.0      NaN
2524          USA    total  2004  292805298.0      NaN
2525          USA  under18  2004   73297735.0      NaN
2526          USA    total  2005  295516599.0      NaN
2527          USA  under18  2005   73523669.0      NaN
2528          USA    total  2006  298379912.0      NaN
2529          USA  under18  2006   73757714.0      NaN
2530          USA    total  2007  301231207.0      NaN
2531          USA  under18  2007   74019405.0      NaN
2532          USA    total  2008  304093966.0      NaN
2533          USA  under18  2008   74104602.0      NaN
2534          USA  under18  2013   73585872.0      NaN
2535          USA    total  2013  316128839.0      NaN
2536          USA    total  2009  306771529.0      NaN
2537          USA  under18  2009   74134167.0      NaN
2538          USA  under18  2010   74119556.0      NaN
2539          USA    total  2010  309326295.0      NaN
2540          USA  under18  2011   73902222.0      NaN
2541          USA    total  2011  311582564.0      NaN
2542          USA  under18  2012   73708179.0      NaN
2543          USA    total  2012  313873685.0      NaN

[2544 rows x 5 columns]

In [46]:
# 查看存在缺失数据的列。
# 使用.isnull().any()，只有某一列存在一个缺失数据，就会显示True。
a2.isnull().any()

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [47]:
# 查看缺失数据
a2.isnull()

      state/region   ages   year  population  state
0            False  False  False       False  False
1            False  False  False       False  False
2            False  False  False       False  False
3            False  False  False       False  False
4            False  False  False       False  False
5            False  False  False       False  False
6            False  False  False       False  False
7            False  False  False       False  False
8            False  False  False       False  False
9            False  False  False       False  False
10           False  False  False       False  False
11           False  False  False       False  False
12           False  False  False       False  False
13           False  False  False       False  False
14           False  False  False       False  False
15           False  False  False       False  False
16           False  False  False       False  False
17           False  False  False       False  False
18           False  False  False       False  False
19           False  False  False       False  False
20           False  False  False       False  False
21           False  False  False       False  False
22           False  False  False       False  False
23           False  False  False       False  False
24           False  False  False       False  False
25           False  False  False       False  False
26           False  False  False       False  False
27           False  False  False       False  False
28           False  False  False       False  False
29           False  False  False       False  False
...            ...    ...    ...         ...    ...
2514         False  False  False       False   True
2515         False  False  False       False   True
2516         False  False  False       False   True
2517         False  False  False       False   True
2518         False  False  False       False   True
2519         False  False  False       False   True
2520         False  False  False       False   True
2521         False  False  False       False   True
2522         False  False  False       False   True
2523         False  False  False       False   True
2524         False  False  False       False   True
2525         False  False  False       False   True
2526         False  False  False       False   True
2527         False  False  False       False   True
2528         False  False  False       False   True
2529         False  False  False       False   True
2530         False  False  False       False   True
2531         False  False  False       False   True
2532         False  False  False       False   True
2533         False  False  False       False   True
2534         False  False  False       False   True
2535         False  False  False       False   True
2536         False  False  False       False   True
2537         False  False  False       False   True
2538         False  False  False       False   True
2539         False  False  False       False   True
2540         False  False  False       False   True
2541         False  False  False       False   True
2542         False  False  False       False   True
2543         False  False  False       False   True

[2544 rows x 5 columns]

In [50]:
# 根据数据是否缺失情况显示数据，如果缺失为True，那么显示
a3 = a2[a2.isnull().values==True]
a3

     state/region     ages  year   population state
2448           PR  under18  1990          NaN   NaN
2448           PR  under18  1990          NaN   NaN
2449           PR    total  1990          NaN   NaN
2449           PR    total  1990          NaN   NaN
2450           PR    total  1991          NaN   NaN
2450           PR    total  1991          NaN   NaN
2451           PR  under18  1991          NaN   NaN
2451           PR  under18  1991          NaN   NaN
2452           PR    total  1993          NaN   NaN
2452           PR    total  1993          NaN   NaN
2453           PR  under18  1993          NaN   NaN
2453           PR  under18  1993          NaN   NaN
2454           PR  under18  1992          NaN   NaN
2454           PR  under18  1992          NaN   NaN
2455           PR    total  1992          NaN   NaN
2455           PR    total  1992          NaN   NaN
2456           PR  under18  1994          NaN   NaN
2456           PR  under18  1994          NaN   NaN
2457           PR    total  1994          NaN   NaN
2457           PR    total  1994          NaN   NaN
2458           PR    total  1995          NaN   NaN
2458           PR    total  1995          NaN   NaN
2459           PR  under18  1995          NaN   NaN
2459           PR  under18  1995          NaN   NaN
2460           PR  under18  1996          NaN   NaN
2460           PR  under18  1996          NaN   NaN
2461           PR    total  1996          NaN   NaN
2461           PR    total  1996          NaN   NaN
2462           PR  under18  1998          NaN   NaN
2462           PR  under18  1998          NaN   NaN
...           ...      ...   ...          ...   ...
2514          USA  under18  1999   71946051.0   NaN
2515          USA    total  2000  282162411.0   NaN
2516          USA  under18  2000   72376189.0   NaN
2517          USA    total  1999  279040181.0   NaN
2518          USA    total  2001  284968955.0   NaN
2519          USA  under18  2001   72671175.0   NaN
2520          USA    total  2002  287625193.0   NaN
2521          USA  under18  2002   72936457.0   NaN
2522          USA    total  2003  290107933.0   NaN
2523          USA  under18  2003   73100758.0   NaN
2524          USA    total  2004  292805298.0   NaN
2525          USA  under18  2004   73297735.0   NaN
2526          USA    total  2005  295516599.0   NaN
2527          USA  under18  2005   73523669.0   NaN
2528          USA    total  2006  298379912.0   NaN
2529          USA  under18  2006   73757714.0   NaN
2530          USA    total  2007  301231207.0   NaN
2531          USA  under18  2007   74019405.0   NaN
2532          USA    total  2008  304093966.0   NaN
2533          USA  under18  2008   74104602.0   NaN
2534          USA  under18  2013   73585872.0   NaN
2535          USA    total  2013  316128839.0   NaN
2536          USA    total  2009  306771529.0   NaN
2537          USA  under18  2009   74134167.0   NaN
2538          USA  under18  2010   74119556.0   NaN
2539          USA    total  2010  309326295.0   NaN
2540          USA  under18  2011   73902222.0   NaN
2541          USA    total  2011  311582564.0   NaN
2542          USA  under18  2012   73708179.0   NaN
2543          USA    total  2012  313873685.0   NaN

[116 rows x 5 columns]

In [59]:
# 找到有哪些state/region使得state的值为NaN，使用unique()查看非重复值
from pandas import Series
a4 = a3.iloc[:,0].unique()
a4

array(['PR', 'USA'], dtype=object)

In [123]:
# 为找到的这些state/region的state项补上正确的值，从而去除掉state这一列的所有NaN！
# 记住这样清除缺失数据NaN的方法！
import numpy as np
a2.replace(np.NaN,'pr-usa',inplace=True)
a2

     state/region     ages  year   population    state
0              AL  under18  2012  1.11749e+06  Alabama
1              AL    total  2012  4.81753e+06  Alabama
2              AL  under18  2010  1.13097e+06  Alabama
3              AL    total  2010  4.78557e+06  Alabama
4              AL  under18  2011  1.12576e+06  Alabama
5              AL    total  2011  4.80163e+06  Alabama
6              AL    total  2009  4.75794e+06  Alabama
7              AL  under18  2009  1.13419e+06  Alabama
8              AL  under18  2013  1.11148e+06  Alabama
9              AL    total  2013  4.83372e+06  Alabama
10             AL    total  2007  4.67284e+06  Alabama
11             AL  under18  2007   1.1323e+06  Alabama
12             AL    total  2008  4.71821e+06  Alabama
13             AL  under18  2008  1.13493e+06  Alabama
14             AL    total  2005  4.56980e+06  Alabama
15             AL  under18  2005  1.11723e+06  Alabama
16             AL    total  2006  4.62898e+06  Alabama
17             AL  under18  2006   1.1268e+06  Alabama
18             AL    total  2004  4.53073e+06  Alabama
19             AL  under18  2004  1.11366e+06  Alabama
20             AL    total  2003  4.50349e+06  Alabama
21             AL  under18  2003  1.11308e+06  Alabama
22             AL    total  2001  4.46763e+06  Alabama
23             AL  under18  2001  1.12041e+06  Alabama
24             AL    total  2002  4.48009e+06  Alabama
25             AL  under18  2002  1.11659e+06  Alabama
26             AL  under18  1999  1.12129e+06  Alabama
27             AL    total  1999  4.43014e+06  Alabama
28             AL    total  2000  4.45217e+06  Alabama
29             AL  under18  2000  1.12227e+06  Alabama
...           ...      ...   ...          ...      ...
2514          USA  under18  1999  7.19461e+07   pr-usa
2515          USA    total  2000  2.82162e+08   pr-usa
2516          USA  under18  2000  7.23762e+07   pr-usa
2517          USA    total  1999   2.7904e+08   pr-usa
2518          USA    total  2001  2.84969e+08   pr-usa
2519          USA  under18  2001  7.26712e+07   pr-usa
2520          USA    total  2002  2.87625e+08   pr-usa
2521          USA  under18  2002  7.29365e+07   pr-usa
2522          USA    total  2003  2.90108e+08   pr-usa
2523          USA  under18  2003  7.31008e+07   pr-usa
2524          USA    total  2004  2.92805e+08   pr-usa
2525          USA  under18  2004  7.32977e+07   pr-usa
2526          USA    total  2005  2.95517e+08   pr-usa
2527          USA  under18  2005  7.35237e+07   pr-usa
2528          USA    total  2006   2.9838e+08   pr-usa
2529          USA  under18  2006  7.37577e+07   pr-usa
2530          USA    total  2007  3.01231e+08   pr-usa
2531          USA  under18  2007  7.40194e+07   pr-usa
2532          USA    total  2008  3.04094e+08   pr-usa
2533          USA  under18  2008  7.41046e+07   pr-usa
2534          USA  under18  2013  7.35859e+07   pr-usa
2535          USA    total  2013  3.16129e+08   pr-usa
2536          USA    total  2009  3.06772e+08   pr-usa
2537          USA  under18  2009  7.41342e+07   pr-usa
2538          USA  under18  2010  7.41196e+07   pr-usa
2539          USA    total  2010  3.09326e+08   pr-usa
2540          USA  under18  2011  7.39022e+07   pr-usa
2541          USA    total  2011  3.11583e+08   pr-usa
2542          USA  under18  2012  7.37082e+07   pr-usa
2543          USA    total  2012  3.13874e+08   pr-usa

[2544 rows x 5 columns]

In [124]:
# 合并各州面积数据areas，使用左合并。
# 思考一下为什么使用外合并？
b = pd.merge(a2,s_ares,how='outer')
b

     state/region     ages    year   population        state  area (sq. mi)
0              AL  under18  2012.0  1.11749e+06      Alabama        52423.0
1              AL    total  2012.0  4.81753e+06      Alabama        52423.0
2              AL  under18  2010.0  1.13097e+06      Alabama        52423.0
3              AL    total  2010.0  4.78557e+06      Alabama        52423.0
4              AL  under18  2011.0  1.12576e+06      Alabama        52423.0
5              AL    total  2011.0  4.80163e+06      Alabama        52423.0
6              AL    total  2009.0  4.75794e+06      Alabama        52423.0
7              AL  under18  2009.0  1.13419e+06      Alabama        52423.0
8              AL  under18  2013.0  1.11148e+06      Alabama        52423.0
9              AL    total  2013.0  4.83372e+06      Alabama        52423.0
10             AL    total  2007.0  4.67284e+06      Alabama        52423.0
11             AL  under18  2007.0   1.1323e+06      Alabama        52423.0
12             AL    total  2008.0  4.71821e+06      Alabama        52423.0
13             AL  under18  2008.0  1.13493e+06      Alabama        52423.0
14             AL    total  2005.0  4.56980e+06      Alabama        52423.0
15             AL  under18  2005.0  1.11723e+06      Alabama        52423.0
16             AL    total  2006.0  4.62898e+06      Alabama        52423.0
17             AL  under18  2006.0   1.1268e+06      Alabama        52423.0
18             AL    total  2004.0  4.53073e+06      Alabama        52423.0
19             AL  under18  2004.0  1.11366e+06      Alabama        52423.0
20             AL    total  2003.0  4.50349e+06      Alabama        52423.0
21             AL  under18  2003.0  1.11308e+06      Alabama        52423.0
22             AL    total  2001.0  4.46763e+06      Alabama        52423.0
23             AL  under18  2001.0  1.12041e+06      Alabama        52423.0
24             AL    total  2002.0  4.48009e+06      Alabama        52423.0
25             AL  under18  2002.0  1.11659e+06      Alabama        52423.0
26             AL  under18  1999.0  1.12129e+06      Alabama        52423.0
27             AL    total  1999.0  4.43014e+06      Alabama        52423.0
28             AL    total  2000.0  4.45217e+06      Alabama        52423.0
29             AL  under18  2000.0  1.12227e+06      Alabama        52423.0
...           ...      ...     ...          ...          ...            ...
2515          USA    total  2000.0  2.82162e+08       pr-usa            NaN
2516          USA  under18  2000.0  7.23762e+07       pr-usa            NaN
2517          USA    total  1999.0   2.7904e+08       pr-usa            NaN
2518          USA    total  2001.0  2.84969e+08       pr-usa            NaN
2519          USA  under18  2001.0  7.26712e+07       pr-usa            NaN
2520          USA    total  2002.0  2.87625e+08       pr-usa            NaN
2521          USA  under18  2002.0  7.29365e+07       pr-usa            NaN
2522          USA    total  2003.0  2.90108e+08       pr-usa            NaN
2523          USA  under18  2003.0  7.31008e+07       pr-usa            NaN
2524          USA    total  2004.0  2.92805e+08       pr-usa            NaN
2525          USA  under18  2004.0  7.32977e+07       pr-usa            NaN
2526          USA    total  2005.0  2.95517e+08       pr-usa            NaN
2527          USA  under18  2005.0  7.35237e+07       pr-usa            NaN
2528          USA    total  2006.0   2.9838e+08       pr-usa            NaN
2529          USA  under18  2006.0  7.37577e+07       pr-usa            NaN
2530          USA    total  2007.0  3.01231e+08       pr-usa            NaN
2531          USA  under18  2007.0  7.40194e+07       pr-usa            NaN
2532          USA    total  2008.0  3.04094e+08       pr-usa            NaN
2533          USA  under18  2008.0  7.41046e+07       pr-usa            NaN
2534          USA  under18  2013.0  7.35859e+07       pr-usa            NaN
2535          USA    total  2013.0  3.16129e+08       pr-usa            NaN
2536          USA    total  2009.0  3.06772e+08       pr-usa            NaN
2537          USA  under18  2009.0  7.41342e+07       pr-usa            NaN
2538          USA  under18  2010.0  7.41196e+07       pr-usa            NaN
2539          USA    total  2010.0  3.09326e+08       pr-usa            NaN
2540          USA  under18  2011.0  7.39022e+07       pr-usa            NaN
2541          USA    total  2011.0  3.11583e+08       pr-usa            NaN
2542          USA  under18  2012.0  7.37082e+07       pr-usa            NaN
2543          USA    total  2012.0  3.13874e+08       pr-usa            NaN
2544          NaN      NaN     NaN          NaN  Puerto Rico         3515.0

[2545 rows x 6 columns]

In [125]:
# 继续寻找存在缺失数据的列
b.isnull().any()

state/region      True
ages              True
year              True
population        True
state            False
area (sq. mi)     True
dtype: bool

In [128]:
# 我们会发现area(sq.mi)这一列有缺失数据，为了找出是哪一行，我们需要找出是哪个state没有数据
b[b.isnull().values==True]
b1 = b.iloc[:,4].unique()
b1

     state/region     ages    year   population        state  area (sq. mi)
0              AL  under18  2012.0  1.11749e+06      Alabama        52423.0
1              AL    total  2012.0  4.81753e+06      Alabama        52423.0
2              AL  under18  2010.0  1.13097e+06      Alabama        52423.0
3              AL    total  2010.0  4.78557e+06      Alabama        52423.0
4              AL  under18  2011.0  1.12576e+06      Alabama        52423.0
5              AL    total  2011.0  4.80163e+06      Alabama        52423.0
6              AL    total  2009.0  4.75794e+06      Alabama        52423.0
7              AL  under18  2009.0  1.13419e+06      Alabama        52423.0
8              AL  under18  2013.0  1.11148e+06      Alabama        52423.0
9              AL    total  2013.0  4.83372e+06      Alabama        52423.0
10             AL    total  2007.0  4.67284e+06      Alabama        52423.0
11             AL  under18  2007.0   1.1323e+06      Alabama        52423.0
12             AL    total  2008.0  4.71821e+06      Alabama        52423.0
13             AL  under18  2008.0  1.13493e+06      Alabama        52423.0
14             AL    total  2005.0  4.56980e+06      Alabama        52423.0
15             AL  under18  2005.0  1.11723e+06      Alabama        52423.0
16             AL    total  2006.0  4.62898e+06      Alabama        52423.0
17             AL  under18  2006.0   1.1268e+06      Alabama        52423.0
18             AL    total  2004.0  4.53073e+06      Alabama        52423.0
19             AL  under18  2004.0  1.11366e+06      Alabama        52423.0
20             AL    total  2003.0  4.50349e+06      Alabama        52423.0
21             AL  under18  2003.0  1.11308e+06      Alabama        52423.0
22             AL    total  2001.0  4.46763e+06      Alabama        52423.0
23             AL  under18  2001.0  1.12041e+06      Alabama        52423.0
24             AL    total  2002.0  4.48009e+06      Alabama        52423.0
25             AL  under18  2002.0  1.11659e+06      Alabama        52423.0
26             AL  under18  1999.0  1.12129e+06      Alabama        52423.0
27             AL    total  1999.0  4.43014e+06      Alabama        52423.0
28             AL    total  2000.0  4.45217e+06      Alabama        52423.0
29             AL  under18  2000.0  1.12227e+06      Alabama        52423.0
...           ...      ...     ...          ...          ...            ...
2515          USA    total  2000.0  2.82162e+08       pr-usa            NaN
2516          USA  under18  2000.0  7.23762e+07       pr-usa            NaN
2517          USA    total  1999.0   2.7904e+08       pr-usa            NaN
2518          USA    total  2001.0  2.84969e+08       pr-usa            NaN
2519          USA  under18  2001.0  7.26712e+07       pr-usa            NaN
2520          USA    total  2002.0  2.87625e+08       pr-usa            NaN
2521          USA  under18  2002.0  7.29365e+07       pr-usa            NaN
2522          USA    total  2003.0  2.90108e+08       pr-usa            NaN
2523          USA  under18  2003.0  7.31008e+07       pr-usa            NaN
2524          USA    total  2004.0  2.92805e+08       pr-usa            NaN
2525          USA  under18  2004.0  7.32977e+07       pr-usa            NaN
2526          USA    total  2005.0  2.95517e+08       pr-usa            NaN
2527          USA  under18  2005.0  7.35237e+07       pr-usa            NaN
2528          USA    total  2006.0   2.9838e+08       pr-usa            NaN
2529          USA  under18  2006.0  7.37577e+07       pr-usa            NaN
2530          USA    total  2007.0  3.01231e+08       pr-usa            NaN
2531          USA  under18  2007.0  7.40194e+07       pr-usa            NaN
2532          USA    total  2008.0  3.04094e+08       pr-usa            NaN
2533          USA  under18  2008.0  7.41046e+07       pr-usa            NaN
2534          USA  under18  2013.0  7.35859e+07       pr-usa            NaN
2535          USA    total  2013.0  3.16129e+08       pr-usa            NaN
2536          USA    total  2009.0  3.06772e+08       pr-usa            NaN
2537          USA  under18  2009.0  7.41342e+07       pr-usa            NaN
2538          USA  under18  2010.0  7.41196e+07       pr-usa            NaN
2539          USA    total  2010.0  3.09326e+08       pr-usa            NaN
2540          USA  under18  2011.0  7.39022e+07       pr-usa            NaN
2541          USA    total  2011.0  3.11583e+08       pr-usa            NaN
2542          USA  under18  2012.0  7.37082e+07       pr-usa            NaN
2543          USA    total  2012.0  3.13874e+08       pr-usa            NaN
2544          NaN      NaN     NaN          NaN  Puerto Rico         3515.0

[2545 rows x 6 columns]

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'pr-usa', 'Puerto Rico'],
      dtype=object)

In [132]:
# 去除含有缺失数据的行
c = b.dropna()
c

     state/region     ages    year   population    state  area (sq. mi)
0              AL  under18  2012.0  1.11749e+06  Alabama        52423.0
1              AL    total  2012.0  4.81753e+06  Alabama        52423.0
2              AL  under18  2010.0  1.13097e+06  Alabama        52423.0
3              AL    total  2010.0  4.78557e+06  Alabama        52423.0
4              AL  under18  2011.0  1.12576e+06  Alabama        52423.0
5              AL    total  2011.0  4.80163e+06  Alabama        52423.0
6              AL    total  2009.0  4.75794e+06  Alabama        52423.0
7              AL  under18  2009.0  1.13419e+06  Alabama        52423.0
8              AL  under18  2013.0  1.11148e+06  Alabama        52423.0
9              AL    total  2013.0  4.83372e+06  Alabama        52423.0
10             AL    total  2007.0  4.67284e+06  Alabama        52423.0
11             AL  under18  2007.0   1.1323e+06  Alabama        52423.0
12             AL    total  2008.0  4.71821e+06  Alabama        52423.0
13             AL  under18  2008.0  1.13493e+06  Alabama        52423.0
14             AL    total  2005.0  4.56980e+06  Alabama        52423.0
15             AL  under18  2005.0  1.11723e+06  Alabama        52423.0
16             AL    total  2006.0  4.62898e+06  Alabama        52423.0
17             AL  under18  2006.0   1.1268e+06  Alabama        52423.0
18             AL    total  2004.0  4.53073e+06  Alabama        52423.0
19             AL  under18  2004.0  1.11366e+06  Alabama        52423.0
20             AL    total  2003.0  4.50349e+06  Alabama        52423.0
21             AL  under18  2003.0  1.11308e+06  Alabama        52423.0
22             AL    total  2001.0  4.46763e+06  Alabama        52423.0
23             AL  under18  2001.0  1.12041e+06  Alabama        52423.0
24             AL    total  2002.0  4.48009e+06  Alabama        52423.0
25             AL  under18  2002.0  1.11659e+06  Alabama        52423.0
26             AL  under18  1999.0  1.12129e+06  Alabama        52423.0
27             AL    total  1999.0  4.43014e+06  Alabama        52423.0
28             AL    total  2000.0  4.45217e+06  Alabama        52423.0
29             AL  under18  2000.0  1.12227e+06  Alabama        52423.0
...           ...      ...     ...          ...      ...            ...
2418           WY    total  2003.0       503453  Wyoming        97818.0
2419           WY  under18  2003.0       124182  Wyoming        97818.0
2420           WY    total  2004.0       509106  Wyoming        97818.0
2421           WY  under18  2004.0       123974  Wyoming        97818.0
2422           WY    total  2002.0       500017  Wyoming        97818.0
2423           WY  under18  2002.0       125495  Wyoming        97818.0
2424           WY    total  2001.0       494657  Wyoming        97818.0
2425           WY  under18  2001.0       126212  Wyoming        97818.0
2426           WY    total  2000.0       494300  Wyoming        97818.0
2427           WY  under18  2000.0       128774  Wyoming        97818.0
2428           WY    total  1999.0       491780  Wyoming        97818.0
2429           WY  under18  1999.0       130793  Wyoming        97818.0
2430           WY    total  1997.0       489452  Wyoming        97818.0
2431           WY  under18  1997.0       134328  Wyoming        97818.0
2432           WY  under18  1998.0       132602  Wyoming        97818.0
2433           WY    total  1998.0       490787  Wyoming        97818.0
2434           WY  under18  1996.0       135698  Wyoming        97818.0
2435           WY    total  1996.0       488167  Wyoming        97818.0
2436           WY    total  1995.0       485160  Wyoming        97818.0
2437           WY  under18  1995.0       136785  Wyoming        97818.0
2438           WY  under18  1994.0       137733  Wyoming        97818.0
2439           WY    total  1994.0       480283  Wyoming        97818.0
2440           WY  under18  1992.0       137308  Wyoming        97818.0
2441           WY    total  1992.0       466251  Wyoming        97818.0
2442           WY    total  1993.0       473081  Wyoming        97818.0
2443           WY  under18  1993.0       137458  Wyoming        97818.0
2444           WY    total  1991.0       459260  Wyoming        97818.0
2445           WY  under18  1991.0       136720  Wyoming        97818.0
2446           WY  under18  1990.0       136078  Wyoming        97818.0
2447           WY    total  1990.0       453690  Wyoming        97818.0

[2448 rows x 6 columns]

In [133]:
# 查看数据是否缺失
c.isnull()

      state/region   ages   year  population  state  area (sq. mi)
0            False  False  False       False  False          False
1            False  False  False       False  False          False
2            False  False  False       False  False          False
3            False  False  False       False  False          False
4            False  False  False       False  False          False
5            False  False  False       False  False          False
6            False  False  False       False  False          False
7            False  False  False       False  False          False
8            False  False  False       False  False          False
9            False  False  False       False  False          False
10           False  False  False       False  False          False
11           False  False  False       False  False          False
12           False  False  False       False  False          False
13           False  False  False       False  False          False
14           False  False  False       False  False          False
15           False  False  False       False  False          False
16           False  False  False       False  False          False
17           False  False  False       False  False          False
18           False  False  False       False  False          False
19           False  False  False       False  False          False
20           False  False  False       False  False          False
21           False  False  False       False  False          False
22           False  False  False       False  False          False
23           False  False  False       False  False          False
24           False  False  False       False  False          False
25           False  False  False       False  False          False
26           False  False  False       False  False          False
27           False  False  False       False  False          False
28           False  False  False       False  False          False
29           False  False  False       False  False          False
...            ...    ...    ...         ...    ...            ...
2418         False  False  False       False  False          False
2419         False  False  False       False  False          False
2420         False  False  False       False  False          False
2421         False  False  False       False  False          False
2422         False  False  False       False  False          False
2423         False  False  False       False  False          False
2424         False  False  False       False  False          False
2425         False  False  False       False  False          False
2426         False  False  False       False  False          False
2427         False  False  False       False  False          False
2428         False  False  False       False  False          False
2429         False  False  False       False  False          False
2430         False  False  False       False  False          False
2431         False  False  False       False  False          False
2432         False  False  False       False  False          False
2433         False  False  False       False  False          False
2434         False  False  False       False  False          False
2435         False  False  False       False  False          False
2436         False  False  False       False  False          False
2437         False  False  False       False  False          False
2438         False  False  False       False  False          False
2439         False  False  False       False  False          False
2440         False  False  False       False  False          False
2441         False  False  False       False  False          False
2442         False  False  False       False  False          False
2443         False  False  False       False  False          False
2444         False  False  False       False  False          False
2445         False  False  False       False  False          False
2446         False  False  False       False  False          False
2447         False  False  False       False  False          False

[2448 rows x 6 columns]

In [184]:
# 找出2010年的全民人口数据,df.query(查询语句)
data = DataFrame(c)
data_2010 = data.query('year=="2010.0"',)
data_2010

,state/region,ages,year,population,state,area (sq. mi)
2,AL,under18,2010.0,1.13097e+06,Alabama,52423.0
3,AL,total,2010.0,4.78557e+06,Alabama,52423.0
90,AK,under18,2010.0,187902,Alaska,656425.0
91,AK,total,2010.0,713868,Alaska,656425.0
100,AZ,under18,2010.0,1.62856e+06,Arizona,114006.0
101,AZ,total,2010.0,6.40879e+06,Arizona,114006.0
188,AR,under18,2010.0,711947,Arkansas,53182.0
189,AR,total,2010.0,2.92228e+06,Arkansas,53182.0
196,CA,under18,2010.0,9.28409e+06,California,163707.0
197,CA,total,2010.0,3.73336e+07,California,163707.0
282,CO,under18,2010.0,1.22662e+06,Colorado,104100.0
283,CO,total,2010.0,5.0482e+06,Colorado,104100.0
292,CT,under18,2010.0,814187,Connecticut,5544.0
293,CT,total,2010.0,3.57921e+06,Connecticut,5544.0
378,DE,under18,2010.0,205478,Delaware,1954.0
379,DE,total,2010.0,899711,Delaware,1954.0
388,DC,under18,2010.0,101309,District of Columbia,68.0
389,DC,total,2010.0,605125,District of Columbia,68.0
474,FL,under18,2010.0,3.99953e+06,Florida,65758.0
475,FL,total,2010.0,1.88461e+07,Florida,65758.0
484,GA,under18,2010.0,2.49088e+06,Georgia,59441.0
485,GA,total,2010.0,9.71325e+06,Georgia,59441.0
570,HI,total,2010.0,1.36373e+06,Hawaii,10932.0
571,HI,under18,2010.0,303812,Hawaii,10932.0
580,ID,under18,2010.0,428961,Idaho,83574.0
581,ID,total,2010.0,1.57072e+06,Idaho,83574.0
666,IL,total,2010.0,1.28397e+07,Illinois,57918.0
667,IL,under18,2010.0,3.12209e+06,Illinois,57918.0
676,IN,under18,2010.0,1.60588e+06,Indiana,36420.0
677,IN,total,2010.0,6.48996e+06,Indiana,36420.0
...,...,...,...,...,...,...
1732,OK,under18,2010.0,931483,Oklahoma,69903.0
1733,OK,total,2010.0,3.75926e+06,Oklahoma,69903.0
1818,OR,total,2010.0,3.83721e+06,Oregon,98386.0
1819,OR,under18,2010.0,865129,Oregon,98386.0
1828,PA,under18,2010.0,2.78532e+06,Pennsylvania,46058.0
1829,PA,total,2010.0,1.27105e+07,Pennsylvania,46058.0
1914,RI,total,2010.0,1.05267e+06,Rhode Island,1545.0
1915,RI,under18,2010.0,223088,Rhode Island,1545.0
1924,SC,under18,2010.0,1.07998e+06,South Carolina,32007.0
1925,SC,total,2010.0,4.63636e+06,South Carolina,32007.0
2010,SD,total,2010.0,816211,South Dakota,77121.0
2011,SD,under18,2010.0,203145,South Dakota,77121.0
2020,TN,under18,2010.0,1.49509e+06,Tennessee,42146.0
2021,TN,total,2010.0,6.35668e+06,Tennessee,42146.0
2106,TX,total,2010.0,2.52452e+07,Texas,268601.0
2107,TX,under18,2010.0,6.87901e+06,Texas,268601.0
2116,UT,under18,2010.0,873019,Utah,84904.0
2117,UT,total,2010.0,2.77442e+06,Utah,84904.0
2202,VT,total,2010.0,625793,Vermont,9615.0
2203,VT,under18,2010.0,128601,Vermont,9615.0
2212,VA,under18,2010.0,1.85502e+06,Virginia,42769.0
2213,VA,total,2010.0,8.02442e+06,Virginia,42769.0
2298,WA,total,2010.0,6.74226e+06,Washington,71303.0
2299,WA,under18,2010.0,1.58144e+06,Washington,71303.0
2308,WV,under18,2010.0,387224,West Virginia,24231.0
2309,WV,total,2010.0,1.85415e+06,West Virginia,24231.0
2394,WI,total,2010.0,5.68906e+06,Wisconsin,65503.0
2395,WI,under18,2010.0,1.33609e+06,Wisconsin,65503.0
2404,WY,under18,2010.0,135351,Wyoming,97818.0
2405,WY,total,2010.0,564222,Wyoming,97818.0

In [185]:
# 对查询结果进行处理，以state列作为新的行索引:set_index\
df = pd.DataFrame(data_2010)
data_2010 = df.set_index('state')
data_2010

                     state/region     ages    year   population  area (sq. mi)
state
Alabama                        AL  under18  2010.0  1.13097e+06        52423.0
Alabama                        AL    total  2010.0  4.78557e+06        52423.0
Alaska                         AK  under18  2010.0       187902       656425.0
Alaska                         AK    total  2010.0       713868       656425.0
Arizona                        AZ  under18  2010.0  1.62856e+06       114006.0
Arizona                        AZ    total  2010.0  6.40879e+06       114006.0
Arkansas                       AR  under18  2010.0       711947        53182.0
Arkansas                       AR    total  2010.0  2.92228e+06        53182.0
California                     CA  under18  2010.0  9.28409e+06       163707.0
California                     CA    total  2010.0  3.73336e+07       163707.0
Colorado                       CO  under18  2010.0  1.22662e+06       104100.0
Colorado                       CO    total  2010.0   5.0482e+06       104100.0
Connecticut                    CT  under18  2010.0       814187         5544.0
Connecticut                    CT    total  2010.0  3.57921e+06         5544.0
Delaware                       DE  under18  2010.0       205478         1954.0
Delaware                       DE    total  2010.0       899711         1954.0
District of Columbia           DC  under18  2010.0       101309           68.0
District of Columbia           DC    total  2010.0       605125           68.0
Florida                        FL  under18  2010.0  3.99953e+06        65758.0
Florida                        FL    total  2010.0  1.88461e+07        65758.0
Georgia                        GA  under18  2010.0  2.49088e+06        59441.0
Georgia                        GA    total  2010.0  9.71325e+06        59441.0
Hawaii                         HI    total  2010.0  1.36373e+06        10932.0
Hawaii                         HI  under18  2010.0       303812        10932.0
Idaho                          ID  under18  2010.0       428961        83574.0
Idaho                          ID    total  2010.0  1.57072e+06        83574.0
Illinois                       IL    total  2010.0  1.28397e+07        57918.0
Illinois                       IL  under18  2010.0  3.12209e+06        57918.0
Indiana                        IN  under18  2010.0  1.60588e+06        36420.0
Indiana                        IN    total  2010.0  6.48996e+06        36420.0
...                           ...      ...     ...          ...            ...
Oklahoma                       OK  under18  2010.0       931483        69903.0
Oklahoma                       OK    total  2010.0  3.75926e+06        69903.0
Oregon                         OR    total  2010.0  3.83721e+06        98386.0
Oregon                         OR  under18  2010.0       865129        98386.0
Pennsylvania                   PA  under18  2010.0  2.78532e+06        46058.0
Pennsylvania                   PA    total  2010.0  1.27105e+07        46058.0
Rhode Island                   RI    total  2010.0  1.05267e+06         1545.0
Rhode Island                   RI  under18  2010.0       223088         1545.0
South Carolina                 SC  under18  2010.0  1.07998e+06        32007.0
South Carolina                 SC    total  2010.0  4.63636e+06        32007.0
South Dakota                   SD    total  2010.0       816211        77121.0
South Dakota                   SD  under18  2010.0       203145        77121.0
Tennessee                      TN  under18  2010.0  1.49509e+06        42146.0
Tennessee                      TN    total  2010.0  6.35668e+06        42146.0
Texas                          TX    total  2010.0  2.52452e+07       268601.0
Texas                          TX  under18  2010.0  6.87901e+06       268601.0
Utah                           UT  under18  2010.0       873019        84904.0
Utah                           UT    total  2010.0  2.77442e+06        84904.0
Vermont                        VT    total  2010.0       625793         9615.0
Vermont                        VT  under18  2010.0       128601         9615.0
Virginia                       VA  under18  2010.0  1.85502e+06        42769.0
Virginia                       VA    total  2010.0  8.02442e+06        42769.0
Washington                     WA    total  2010.0  6.74226e+06        71303.0
Washington                     WA  under18  2010.0  1.58144e+06        71303.0
West Virginia                  WV  under18  2010.0       387224        24231.0
West Virginia                  WV    total  2010.0  1.85415e+06        24231.0
Wisconsin                      WI    total  2010.0  5.68906e+06        65503.0
Wisconsin                      WI  under18  2010.0  1.33609e+06        65503.0
Wyoming                        WY  under18  2010.0       135351        97818.0
Wyoming                        WY    total  2010.0       564222        97818.0

[102 rows x 5 columns]

In [197]:
# 计算人口密度。注意是Series/Series，其结果还是一个Series。\
data_2010['midu'] = ''
data_2010 = DataFrame(data_2010)
data_2010['midu'] = data_2010.population/(data_2010.area(sq. mi))
data_2010

AttributeError: 'DataFrame' object has no attribute 'area'

In [ ]:
# 排序，并找出人口密度最高的五个州sort_values()

In [ ]:
# 找出人口密度最低的五个州

In [ ]:
要点总结：

统一用loc()索引
善于使用.isnull().any()找到存在NaN的列
善于使用.unique()确定该列中哪些key是我们需要的
一般使用外合并、左合并，目的只有一个：宁愿该列是NaN也不要丢弃其他列的信息
回顾：Series/DataFrame运算与ndarray运算的区别
Series与DataFrame没有广播，如果对应index没有值，则记为NaN；或者使用add的fill_value来补缺失值
ndarray有广播，通过重复已有值来计算